.formContainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .formLabel {
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
  }
  
  .formInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .formInput:focus {
    border-color: #bc7ec0;
    outline: none;
  }
  
  .errorLabel {
    margin-top: 5px;
    color: red;
    font-size: 12px;
  }
  
  .formButton {
    width: 100%;
    padding: 12px;
    background-color: #cca2ce;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formButton:hover {
    background-color: #8c638e;
  }
  
  .formButton:disabled {
    background-color: #d1c4d2;
    cursor: not-allowed;
  }
  
  .passwordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .togglePasswordButton {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }
  
  .togglePasswordButton:hover {
    color: #c94ae2;
  }

