.titulo{
    background-color:darkgrey;
    color:rgb(46, 46, 46);
    margin-left: 10px;
}

.logo{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    font-weight: 500;
    font-size: 1.7rem;
    padding: 7px;
    text-decoration: none;
}